<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let comic of comics">
      <div class="card h-100 comic-card">

        <img [src]="comic.imageUrl"
             class="card-img-top img-fluid"
             alt="{{ comic.title }}"
             style="height: 250px; object-fit: cover;">

        <div class="card-body text-center">
          <h5 class="card-title fw-bold">{{ comic.title }}</h5>

          <div class="d-flex justify-content-center">
            <button (click)="onAddToFavorites(comic)" class="btn btn-sm btn-outline-danger">
              <span class="ms-1">Agregar a favoritos</span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
