<div class="login-wrapper">
  <div class="login-bg">
    <div class="container d-flex justify-content-center align-items-center login-container">
      <div class="card login-card">
        <div class="text-center mb-4">
          <img src="/assets/images/marvel.png" alt="Marvel Logo" class="img-fluid login-logo">
        </div>

        <h2 class="text-center mb-4 fw-bold login-title">Iniciar Sesión</h2>

        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label class="form-label fw-bold">Email</label>
            <input [(ngModel)]="email" name="email" type="email" required class="form-control border-2"
              placeholder="ejemplo@email.com">
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold">Contraseña</label>
            <input [(ngModel)]="password" name="password" type="password" required class="form-control border-2"
              placeholder="••••••••">
          </div>

          <button type="submit" class="btn btn-danger w-100 mb-2 btn-login" [disabled]="!loginForm.valid">
            INICIAR SESIÓN
          </button>

          <button type="button" class="btn btn-outline-dark w-100 btn-register" (click)="goToRegister()">
            ¿No tienes cuenta? <span class="fw-bold" style="color: #e62429;">Regístrate</span>
          </button>

          <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center login-spinner">
            <div class="spinner-border text-danger" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show mt-3">
            {{ errorMessage }}
          </div>
        </form>

      </div>
    </div>
  </div>
</div>